body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0px 15%;
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    margin: 0px 5px;
}

li a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.logo-links {
    display: flex;
    justify-content: space-between;
    margin: 0px 5%;
    align-items: center;
}

.hero {
    padding: 2em 0px;
    margin: 0px 5%;
    display: flex;
    min-height: 166.15px;
    justify-content: space-between;
}

.hero .hero-text {
    width: 35%;
}

img {
    height: auto;
    width: 250px;
    align-self: center;
}

button {
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
    font-weight: 700;
}



.upper-part h3 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}

.cards {
    display: flex;
    width: 55%;
    margin: 0px auto 5rem;
}

.card-individual {
    margin: 0px 10px;
}

.card-image {
    border: 2px solid #3882f6;
    height: 8rem;
    border-radius: 5px;
}

.card-text {
    text-align: center;
    margin-top: 10px;
    font-size: 0.7rem;
}

.middle-part {
    background-color: #e5e7eb;
    padding: 100px;
}

.paragraph {
    font-size: 36px;
    font-style: italic;
    width: 80%;
}

.quote {
    text-align: end;
    margin-top: 25px;
    font-weight: 700;
    font-size: 25px;
}